.postContainer.MuiContainer-root {
  display: flex;
  width: 50%;
  max-width: 1000px;
  margin-bottom: 20px;
  cursor: pointer;
}

.reactionBar.MuiGrid2-root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.contentBar.MuiGrid2-root {
  margin-left: 20px;
}

.postBody.MuiGrid2-root {
  margin-top: 10px;
  margin-bottom: 10px;
}

img {
  width: 100%;
}
